@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  aside, header, nav {
    display: none !important;
  }
  main {
    padding: 0 !important;
    margin: 0 !important;
  }
}
